<header-intiwatana-webpage  (dataEvent)='setLanguage($event)'></header-intiwatana-webpage>
<carousel-intiwatana-webpage></carousel-intiwatana-webpage>
        <!-- CONTENT -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2 col-12">
                        <h3 class="texto-lateral text-naranja">{{ 'contact.title' | translate }}</h3>
                        <p class="text-negro font-weight-bold">{{ 'home.servicios_desc' | translate }}</p>

                        <!--  -->
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                              <button class="nav-link active w-50" id="nav-home-tab" data-toggle="tab" data-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Contacto Hotel Cusco</button>
                              
                              <button class="nav-link w-50" id="nav-profile-tab" data-toggle="tab" data-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Contacto Hotel Machu Picchu</button>
                        
                            </div>
                          </nav>
                          <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                <!-- <div><h2>Formulario Cusco</h2></div> -->
                                <app-form-contact [hotel]="'hotel Cusco'"></app-form-contact>
                                
                            </div>
                            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                <!-- <div><h2>Formulario Machupicchu</h2></div> -->
                                <app-form-contact [hotel]="'Hotel Mapi'"></app-form-contact>
                            </div>
                            
                          </div>
                        <!--  -->

                    </div>
                    <div class="col-12 my-5">
                        <div class="row">
                            <div class="col-12">
                                <h3 class="text-center text-naranja display-4">{{ 'contact.direccion_mapa' | translate }}</h3>
                            </div>
                            <div class="col-lg-6 mt-lg-2 mt-5">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3262.0696262273436!2d-71.97859383594033!3d-13.518621253226964!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x916dd7812bd04747%3A0x9085e7821abc89ac!2sINTIWATANA%20HOTEL%20BOUTIQUE!5e0!3m2!1ses!2spe!4v1642606902140!5m2!1ses!2spe" width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                                <div class="contaianer">
                                    <address class="text-center mt-3">
                                        <h4 class="text-marron font-weight-bold">INTIWATANA HOTEL BOUTIQUE - CUSCO </h4>
                                    </address>
                                </div>
                                <!-- Google Map -->
                            </div>
                            <div class="col-lg-6 mt-lg-2 mt-5">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1373.5908165817855!2d-72.52359822090304!3d-13.155995687428282!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x916d9bdcf5a97eef%3A0x6fd510ce4206ec58!2sINTIWATANA%20EL%20TAMBO%20HOTEL!5e0!3m2!1ses!2spe!4v1631814682840!5m2!1ses!2spe" width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                                <div class="contaianer">
                                    <address class="text-center mt-3">
                                        <h4 class="text-marron font-weight-bold">HOTEL INTIWATANA EL TAMBO - MACHUPICCHU</h4>
                                    </address>
                                </div>
                                <!-- Google Map -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> <!-- end: Content -->
        <!-- Footer -->

        <footer-intiwatana-webpage></footer-intiwatana-webpage>