.display-5{
    font-size: 45px;
    color: black;
}
.texto-lateral{
    color: #30110D;
    text-align: left;
    font-size: 40px;
    letter-spacing: 0;
  }
  .boton-1{
    box-sizing: border-box;
    color: white;
    background-color:#30110D;
    border-radius: 5px;
    border: 2px solid #dedede;
    font-size: 13px;
    font-weight: 600;
    padding: 7px 10px;
    align-items: center;
  }
  .boton-1:hover{

    color: #30110D;
    background-color:white;
    border: 2px solid #30110D;
    transition: 0.3;
  }

  .nav-tabs .nav-link.active,
  .nav-tabs .nav-item.show .nav-link {
    color: #FAA831;
    font-weight: bold;
    background-color: #fff;
    border-color: #ddd #ddd #fff;
  }
  .nav-tabs .nav-link {
    border: 1px solid transparent;
    background-color: rgb(249, 249, 249);
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
  @media  (max-width:760px) {
    .boton-1{
    width: 100%;
    }
  }


  .lds-ripple {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #000;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 9px;
      left: 9px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    4.9% {
      top: 9px;
      left: 9px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    5% {
      top: 9px;
      left: 9px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 18px;
      height: 18px;
      opacity: 0;
    }
  }