/* Border */
.mat-form-field-appearance-outline .mat-form-field-outline {
    color: black !important;
  }
  /* Font color */
  input.mat-input-element {
    color: black !important;
  }

  .ng-tns-c67-0 .ng-star-inserted{
    margin-top: 10px !important;
    margin-left: 5px !important;
}

#mat-form-field-label-1{
    margin-top: 10px !important;
    margin-left: 5px !important;
}
.input-1{
  outline: none;
  background-color: rgb(238, 238, 238);
  border: 0;
  border-radius: 0;
}


@media  (max-width:760px) {
  .boton-1{
  width: 50%;
  }
}
.btn-marron {
  background-color: transparent; 
  color: #9b3c00;
  font-weight: bolder;
  border: 2px solid #9b3c00;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.btn-marron:hover {
  background-color: #9b3c00;
  color: white;
}

.fondo-3 {
    background-color: rgba(25, 24, 24, 0.87);
/*    filter: brightness(0.4);*/
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.contenedor{
  overflow:hidden;
}
.contenedor:hover .imagen{
  filter: saturate(160%);
  transition-duration: 0.5s;
  cursor: pointer;
}

.fondo-mapa {
  background-image: url("../../assets/image/mapicusco.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 15%;
  padding-bottom: 15%;
}
.fondo-servicios {
  background-image: url("../../assets/image/hotelIntiWatana/servicios.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 15%;
  padding-bottom: 15%;
}
.detalles{
  line-height: 130% !important;
}
.fondo-marron{
  border-radius: 15px 15px 15px 15px;
  background-color: #30110d7a;
  background-size: cover;
}
.sonbra-1{
  box-shadow: 0px 0px 5px 1px black; 
  border-radius: 80px;
}
@media  (max-width:1200px) {
  .sonbra-1{
    box-shadow: 0px 0px 5px 1px black; 
    border-radius: 52px;
  }
}
