<header-intiwatana-webpage (dataEvent)='setLanguage($event)'></header-intiwatana-webpage>
<carousel-intiwatana-webpage></carousel-intiwatana-webpage>
<section class="w-100 py-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-12 py-0 my-0">
        <div class="row p-0">
          <div class="col-12 text-center my-2">
            <h1 class="font-weight-bolder text-marron">{{ 'home.nuestros_hoteles' | translate }}</h1>
          </div>
          <div class="col-md-6 col-12">
            <div class="card text-center pt-2 px-0">
              <h4 class="card-title text-marron">INTIWATANA HOTEL BOUTIQUE</h4>
              <div class="card-body p-0 contenedor">
                <a routerLink="/hotel"><img class="img-fluid imagen" src="assets/image/Hotel-Boutique/hotel-1.jpg" alt="Card image cap"></a>
              </div>
              <div class="card-footer">
                <p class="card-text text-justify text-marron lh-s1">{{ 'home.intiwatana_hotel' | translate }}</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-12">
            <div class="card text-center pt-2">
              <h5 class="card-title text-marron">INTIWATANA EL TAMBO HOTEL</h5>
              <div class="card-body p-0 contenedor">
                <a routerLink="/machupicchu"><img class="img-fluid imagen" src="assets/image/hotelIntiWatana/v1.jpg" alt="Card image cap"></a>
              </div>
              <div class="card-footer">
                <p class="card-text text-justify text-marron lh-s1">{{ 'home.tambo_hotel' | translate }}</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<section class="px-0" style="padding:0px;">
  <div class="fondo-servicios p-lg-5 p-3">
    <div class="container" style="background-color: rgba(0, 0, 0, 0.604);">
      <div class="row m-t-60 my-5 py-5">
        <div class="col-lg-8 offset-lg-2 col-10 offset-1 text-center mb-3">
          <h3 class="font-weight-bold text-white text-center">
            {{ 'home.servicios_title' | translate }}</h3>
          <p class="text-white font-weight-bolder">{{ 'home.servicios_desc' | translate }}</p>
        </div>
        <div class="w-100 mt-5"></div>
        <div class="col-lg-8 offset-lg-2 col-10 offset-1">
          <div class="row d-flex justify-content-around">
            <div class="col-md-3 col-6 text-center my-lg-1 my-2">
              <i class="fas fa-utensils text-naranja display-4"></i> <br>
              <small class="text-white font-weight-bold">{{ 'home.serv_quechua' | translate }}</small>
              <br>
            </div>
            <div class="col-md-3 col-6 text-center my-lg-1 my-2">
              <i class="fas fa-concierge-bell display-4 text-naranja"></i><br>
              <small class="text-white font-weight-bold lh-sm">{{ 'home.serv_recepcion_desc' | translate }}</small>
            </div>
            <div class="col-md-3 col-6 text-center my-lg-1 my-2">
              <i class="fas fa-wifi display-4 text-naranja"></i> <br>
              <small class="text-white font-weight-bold lh-sm">{{ 'home.serv_wifi_desc' | translate }}</small>
            </div>
            <div class="col-md-3 col-6 text-center my-lg-1 my-2">
              <i class="fas fa-tshirt display-4 text-naranja"></i> <br>
              <small class="text-white font-weight-bold lh-sm">{{ 'home.serv_labanderia_desc' | translate }}</small>
            </div>
            <div class="col-md-3 col-6 text-center my-lg-1 my-2">
              <i class="fas fa-user-md display-4 text-naranja"></i><br>
              <small class="text-white font-weight-bold lh-sm">{{ 'home.serv_medico_desc' | translate }}</small>
            </div>
            <div class="col-md-3 col-6 text-center my-lg-1 my-2">
              <i class="fas fa-subway display-4 text-naranja"></i> <br>
              <small class="text-white font-weight-bold lh-sm">{{ 'home.serv_recojo_desc' | translate }}</small>
            </div>
            <div class="col-md-3 col-6 text-center my-lg-1 my-2">
              <i class="fas fa-phone-square display-4 text-naranja"></i> <br>
              <small class="text-white font-weight-bold lh-sm">{{ 'home.serv_telefono_desc' | translate }}</small>
            </div>
            <div class="col-md-3 col-6 text-center my-lg-1 my-2">
              <i class="fas fa-biohazard display-4 text-naranja"></i> <br>
              <small class="text-white font-weight-bold lh-sm">{{ 'home.serv_bio_desc' | translate }}</small>
            </div>
            <div class="col-md-3 col-6 text-center my-lg-1 my-2">
              <i class="fas fa-luggage-cart display-4 text-naranja"></i> <br>
              <small class="text-white font-weight-bold lh-sm">{{ 'home.serv_custodio_desc' | translate }}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="cotainer-fluid">
  <h1 class="fw-light text-center mt-5 text-marron">INTIWATANA HOTELES</h1>
  <div class="row itemset" >
    <div class="item item4 col-md-1 col-3 px-0 border">
      <img src="assets/image/Hotel-Boutique/hotel-1.jpg" class="img-fluid" alt="">
    </div>
    <div class="item item4 col-md-1 col-3 px-0 border">
      <img src="assets/image/hotelIntiWatana/v9.jpg" class="img-fluid" alt="">
    </div>
    <div class="item item4 col-md-1 col-3 px-0 border">
      <img src="assets/image/Hotel-Boutique/v6.jpg" class="img-fluid" alt="">
    </div>
    <div class="item item4 col-md-1 col-3 px-0 border">
      <img src="assets/image/Hotel-Boutique/foto-1.jpg" class="img-fluid" alt="">
    </div>
    <div class="item item4 col-md-1 col-3 px-0 border">
      <img src="assets/image/Hotel-Boutique/v2.jpg" class="img-fluid" alt="">
    </div>
    <div class="item item4 col-md-1 col-3 px-0 border">
      <img src="assets/image/Hotel-Boutique/v4.jpg" class="img-fluid" alt="">
    </div>
    <div class="item item4 col-md-1 col-3 px-0 border">
      <img src="assets/image/Hotel-Boutique/v5.jpg" class="img-fluid" alt="">
    </div>
    <div class="item item2 col-md-1 col-3 px-0 border">
      <img src="assets/image/hotelIntiWatana/v2.jpg" class="img-fluid" alt="">
    </div>
    <div class="item item3 col-md-1 col-3 px-0 border">
      <img src="assets/image/hotelIntiWatana/v3.jpg" class="img-fluid" alt="">
    </div>
    <div class="item item4 col-md-1 col-3 px-0 border">
      <img src="assets/image/hotelIntiWatana/v4.jpg" class="img-fluid" alt="">
    </div>
    <div class="item item4 col-md-1 col-3 px-0 border">
      <img src="assets/image/hotelIntiWatana/v5.jpg" class="img-fluid" alt="">
    </div>
    <div class="item item1 col-md-1 col-3 px-0 border">
      <img src="assets/image/hotelIntiWatana/v1.jpg" class="img-fluid" alt="">
    </div>
  </div>
  <div class="container pt-5">
    <div class="row">
      <div class="col-md-6 col-12 px-5">
        <h2 class="text-center font-weight-bolder text-marron">{{ 'home.porque_intiwatana' | translate }}</h2>
        <div class="card sonbra-caja">
          <div class="card-body">
            <p class="text-justify">{{ 'home.porque_intiwatana_desc' | translate }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-12 px-5">
        <h2 class="text-center font-weight-bolder text-marron">{{ 'home.equipo_trabajo' | translate }}</h2>
        <div class="card sonbra-caja">
          <div class="card-body">
            <p class="text-justify">{{ 'home.equipo_trabajo_desc' | translate }}</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<article class="container-fluid mt-lg-5 mt-2 fondo-mapa p-lg-5 p-2">
  <div class="row d-flex align-items-center">
    <div class="col-12 PY-0 PX-5">
      <h1 class="text-center text-marron">{{ 'home.ubicanos' | translate }}</h1>
    </div>
    <div class="col-md-6 col-12 p-md-5 p-2">
      <div class="card my-lg-5 my-2 fondo-marron">
        <div class="card-body">
          <h3 class="card-title text-center text-marron">INTIWATANA HOTEL BOUTIQUE</h3>
          <div class="container border-bottom border-white">
            <div class="row">
              <div class="col-md-6 col-12 px-0 detalles text-center">
                <p class="mb-0 text-marron">{{ 'home.direccion' | translate }}</p>
                <small class="text-white"><i class="fas fa-directions"
                    style="font-size: 20px; margin-right: 5px !important;"></i>Calle Aflijidos <strong
                    class="font-weight-bold">Nro.120</strong> <br>
                  Referencia: <strong class="font-weight-bold">Avenida el sol</strong>
                </small>
              </div>
              <div class="col-md-6 col-12 px-0 detalles text-center">
                <p class="mb-0 text-marron">{{ 'home.contactanos_title' | translate }}:</p>
                <small class="text-white font-weight-bold"><i class="fas fa-phone-square-alt"
                    style="font-size: 20px; margin-right: 5px !important;"></i>084 244 884<br> <i
                    class="fas fa-phone-square-alt" style="font-size: 20px; margin-right: 5px !important;"></i>985 868
                  713</small>
              </div>
              <div class="col-md-6 offset-md-3 col-8 offset-2 mt-3 text-center px-md-4 px-0">
                <p class="mb-0 text-marron text-center">{{ 'home.form_email' | translate }}:</p>
                <small class="text-white font-weight-light detalles"><i class="fas fa-envelope"
                    style="font-size: 20px; margin-right: 5px !important;"></i>reservas@intiwatana.pe</small>
                <h5 class="text-marron font-weight-bold text-center">Cusco - Peru</h5>
              </div>
            </div>
          </div>
          <p class="text-justify text-white detalles mt-3"><small>{{ 'home.estamos_ubicados' | translate }}</small>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-12 p-md-5 p-2">
      <div class="card my-lg-5 my-2 fondo-marron">
        <div class="card-body">
          <h3 class="card-title text-center text-marron">INTIWATANA EL TAMBO HOTEL</h3>
          <div class="container border-bottom border-white">
            <div class="row">
              <div class="col-md-6 col-12 px-0 detalles text-center">
                <p class="mb-0 text-marron">{{ 'home.direccion' | translate }}</p>
                <small class="text-white"><i class="fas fa-directions"
                    style="font-size: 20px; margin-right: 5px !important;"></i>Calle Wiñay wayna<strong
                    class="font-weight-bold">Nro.103</strong> <br>
                  Referencia: <strong class="font-weight-bold">Cerca a la estacion de trenes</strong>
                </small>
              </div>
              <div class="col-md-6 col-12 px-0 detalles text-center">
                <p class="mb-0 text-marron">{{ 'home.contactanos_title' | translate }}:</p>
                <small class="text-white font-weight-bold"><i class="fas fa-phone-square-alt"
                    style="font-size: 20px; margin-right: 5px !important;"></i>944 588 929<br> <i
                    class="fas fa-phone-square-alt" style="font-size: 20px; margin-right: 5px !important;"></i>984 185 481</small>
              </div>
              <div class="col-md-6 offset-md-3 col-8 offset-2 mt-3 text-center px-md-4 px-0">
                <p class="mb-0 text-marron text-center">{{ 'home.form_email' | translate }}:</p>
                <small class="text-white font-weight-light detalles"><i class="fas fa-envelope"
                    style="font-size: 20px; margin-right: 5px !important;"></i>ventas@intiwatana.pe <br class="my-0">
                  <i class="fas fa-envelope"
                    style="font-size: 20px; margin-right: 5px !important;"></i>reservasintiwatana@gmail.com</small>
                <h5 class="text-marron text-center">Machupicchu - Cusco</h5>
              </div>
            </div>
          </div>
          <p class="text-justify text-white detalles mt-3"><small>{{ 'home.estamos_ubicados_mapi' | translate }}</small>
          </p>
        </div>

      </div>
    </div>
  </div>
</article>
<section class="container">
  <div class="row mb-0" style="margin-top: -25px;">
    <div class="col-12 order-md-1 order-1 text-center mt-md-0 mt-5">
      <h1 class="text-marron font-weight-bolder">{{ 'home.estamos_aqui' | translate }}</h1>
    </div>
    <div class="col-lg-6 order-md-2 order-2 mt-lg-2 mt-5">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3262.0696262273436!2d-71.97859383594033!3d-13.518621253226964!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x916dd7812bd04747%3A0x9085e7821abc89ac!2sINTIWATANA%20HOTEL%20BOUTIQUE!5e0!3m2!1ses!2spe!4v1642606902140!5m2!1ses!2spe" width="600" height="450" style="border:0;" allowfullscreen="fullscreen" loading="lazy"></iframe>
    </div>
    <div class="col-lg-6 order-md-3 order-4 mt-lg-2 mt-5">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1633.4852598041448!2d-72.52317503127892!3d-13.155802459171577!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x916d9bdcf5a97eef%3A0x6fd510ce4206ec58!2sINTIWATANA%20EL%20TAMBO%20HOTEL%20*2A*2A*2A!5e0!3m2!1ses!2spe!4v1642519189892!5m2!1ses!2spe" width="600" height="450" style="border:0;" allow="fullscreen" loading="lazy"></iframe>
    </div>
    <div class="col-md-8 offset-md-2 col-12 order-md-4 order-3 mt-5">
      <div class="container px-5">
        <h2 class="text-center text-marron">{{ 'home.contactanos_title' | translate }}</h2>
        <p class="text-negro text-center font-weight-light">{{ 'home.escribenos' | translate }}</p>
        <div class="m-t-30">
          <form class="widget-contact-form" novalidate action="include/contact-form.php" role="form" method="post">
            <div class="row">
              <div class="form-group col-md-6">
                <label for="name">Nombre</label>
                <input type="text" aria-required="true" name="widget-contact-form-name" required
                  class="form-control required name" placeholder="Enter your Name">
              </div>
              <div class="form-group col-md-6">
                <label for="email">Correo electronico</label>
                <input type="email" aria-required="true" name="widget-contact-form-email" required
                  class="form-control required email" placeholder="Enter your Email">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-12">
                <label for="subject">{{ 'home.form_asunto' | translate }}</label>
                <input type="text" name="widget-contact-form-subject" required class="form-control required"
                  placeholder="Subject...">
              </div>
            </div>
            <div class="form-group">
              <label for="message">{{ 'home.form_mensaje' | translate }}</label>
              <textarea type="text" name="widget-contact-form-message" required rows="5" class="form-control required"
                placeholder="Enter your Message"></textarea>
            </div>
            <button class="btn bg-naranja border-0" type="submit" id="form-submit"><i
                class="fa fa-paper-plane"></i>&nbsp;{{ 'home.form_enviar' | translate }}</button>
          </form>
      </div>
    </div>
    </div>
  </div>
</section>
<footer-intiwatana-webpage></footer-intiwatana-webpage>
