<header-intiwatana-webpage (dataEvent)='setLanguage($event)'></header-intiwatana-webpage>
<carousel-2-intiwatana-webpage></carousel-2-intiwatana-webpage>
<section class="px-0" style="padding:0px;">
  <div class="container my-lg-5 my-2">
    <div class="my-5 text-center">
      <h2 class="text-uppercase text-medium text-naranja">INTIWATANA EL TAMBO HOTEL</h2>
      <p class="text-marron">{{ 'boutique.desc' | translate }} <STROng class="text-naranja">"{{ 'boutique.desc_sub' | translate }}"</STROng>.
      </p>
    </div>
    <div class="w-100">
      <div class="row my-5">
        <div class="col-md-6 col-12 px-5 py-3 r-naranja">
          <div class="row my-0 d-flex align-items-center bg-marron">
            <div class="col-2 px-lg-4 px-2 text-center py-auto">
              <div class="circulo my-2">
                <a data-toggle="popover" data-trigger="hover" data-content="Agua Caliente las 24 hrs"> <i class="fas fa-hot-tub"></i></a>
              </div>
              <div class="circulo my-2">
                <a data-toggle="popover" data-trigger="hover" data-content="Smart TV con cable"> <i class="fas fa-tv"></i></a>
              </div>
              <div class="circulo my-2">
                <a data-toggle="popover" data-trigger="hover" data-content="Telefono Incluido"> <i class="fas fa-phone-square-alt"></i></a>
              </div>
              <div class="circulo my-2">
                <a data-toggle="popover" data-trigger="hover" data-content="Desayuno buffet"> <i class="fas fa-coffee"></i></a>
              </div>
            </div>
            <div class="col-10 px-0">
              <div id="c-1" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img class="d-block w-100" src="assets/image/hotelIntiWatana/c1.jpg" alt="First slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="assets/image/hotelIntiWatana/c1.jpg" alt="Second slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="assets/image/hotelIntiWatana/c1.jpg" alt="Third slide">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 px-2 border-top">
              <div class="container text-white py-1 px-2 text-left margen-marron">
                <div class="row mx-0 d-flex align-items-center">
                  <div class="col-10 py-1 px-2 text-center">
                    <p class="mb-0 fw-bold font-weight-bold">{{ 'tambo.hab_simple' | translate }}</p>
                    <small>{{ 'tambo.hab_simple_desc' | translate }}<br>
                      <strong class="text-naranja">"{{ 'boutique.descuento_apertura' | translate }}"</strong>
                    </small>              
                  </div>
                  <div class="col-2 py-1">
                    <div class="text-center">
                      <a href="#" class=""><i class="fas fa-registered fs-5"></i></a>
                      <!-- <div class="px-0">
                        <small class="text-naranja font-weight-bold">Precios:</small> <br>
                        <small class="my-0">s/.15 - s/.20</small>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-12 px-5 py-3 r-naranja">
          <div class="row my-0 d-flex align-items-center bg-marron">
            <div class="col-2 px-lg-4 px-2 text-center py-auto">
              <div class="circulo my-2">
                <a data-toggle="popover" data-trigger="hover" data-content="Agua Caliente las 24 hrs"> <i class="fas fa-hot-tub"></i></a>
              </div>
              <div class="circulo my-2">
                <a data-toggle="popover" data-trigger="hover" data-content="Smart TV con cable"> <i class="fas fa-tv"></i></a>
              </div>
              <div class="circulo my-2">
                <a data-toggle="popover" data-trigger="hover" data-content="Telefono Incluido"> <i class="fas fa-phone-square-alt"></i></a>
              </div>
              <div class="circulo my-2">
                <a data-toggle="popover" data-trigger="hover" data-content="Desayuno buffet"> <i class="fas fa-coffee"></i></a>
              </div>
            </div>
            <div class="col-10 px-0">
              <div id="c-2" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img class="d-block w-100" src="assets/image/hotelIntiWatana/C2.jpg" alt="First slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="assets/image/hotelIntiWatana/C2.jpg" alt="Second slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="assets/image/hotelIntiWatana/C2.jpg" alt="Third slide">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 px-2 border-top">
              <div class="container text-white py-1 px-2 text-left margen-marron">
                <div class="row mx-0 d-flex align-items-center">
                  <div class="col-10 py-1 px-2 text-center">
                    <p class="mb-0 fw-bold font-weight-bold">{{ 'tambo.hab_doble' | translate }}</p>
                    <small> {{ 'tambo.hab_doble_desc' | translate }} <br>
                      <strong class="text-naranja">"{{ 'boutique.descuento_apertura' | translate }}"</strong>
                    </small>
                  </div>
                  <div class="col-2 py-1">
                    <div class="text-center">
                      <a href="#" class=""><i class="fas fa-registered fs-5"></i></a>
                      <!-- <div class="px-3">
                        <small class="text-marron font-weight-bold">Precios:</small>
                        <p class="my-0">s/.15 - s/.20</p>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
              </div>
          </div>
        </div>
        <div class="col-md-6 col-12 px-5 py-3 r-naranja">
          <div class="row my-0 d-flex align-items-center bg-marron">
            <div class="col-2 px-lg-4 px-2 text-center py-auto">
              <div class="circulo my-2">
                <a data-toggle="popover" data-trigger="hover" data-content="Agua Caliente las 24 hrs"> <i class="fas fa-hot-tub"></i></a>
              </div>
              <div class="circulo my-2">
                <a data-toggle="popover" data-trigger="hover" data-content="Smart TV con cable"> <i class="fas fa-tv"></i></a>
              </div>
              <div class="circulo my-2">
                <a data-toggle="popover" data-trigger="hover" data-content="Telefono Incluido"> <i class="fas fa-phone-square-alt"></i></a>
              </div>
              <div class="circulo my-2">
                <a data-toggle="popover" data-trigger="hover" data-content="Desayuno buffet"> <i class="fas fa-coffee"></i></a>
              </div>
            </div>
            <div class="col-10 px-0">
              <div id="c-3" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img class="d-block w-100" src="assets/image/hotelIntiWatana/c3.jpg" alt="First slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="assets/image/hotelIntiWatana/c3.jpg" alt="Second slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="assets/image/hotelIntiWatana/c3.jpg" alt="Third slide">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 px-2 border-top">
              <div class="container text-white py-1 px-2 text-left margen-marron">
                <div class="row mx-0 d-flex align-items-center">
                  <div class="col-10 py-1 px-2 text-center">
                    <p class="mb-0 fw-bold font-weight-bold">{{ 'tambo.hab_matrimonial' | translate }}</p>
                    <small>{{ 'tambo.hab_hab_matrimonial_desc' | translate }} <br>
                      <strong class="text-naranja">"{{ 'boutique.descuento_apertura' | translate }}"</strong>
                    </small>
                  </div>
                  <div class="col-2 py-1">
                    <div class="text-center">
                      <a href="#" class=""><i class="fas fa-registered fs-5"></i></a>
                      <!-- <div class="px-3">
                        <small class="text-marron font-weight-bold">Precios:</small>
                        <p class="my-0">s/.15 - s/.20</p>
                      </div> -->
                    </div>
                    <!-- <img src="assets/image/hotelIntiWatana/icon-blanco.png" width="25%" class="img-fluid" alt=""> -->
                  </div>
                </div>
              </div>
              </div>
          </div>
        </div>
        <div class="col-md-6 col-12 px-5 py-3 r-naranja">
          <div class="row my-0 d-flex align-items-center bg-marron">
            <div class="col-2 px-lg-4 px-2 text-center py-auto">
              <div class="circulo my-2">
                <a data-toggle="popover" data-trigger="hover" data-content="Agua Caliente las 24 hrs"> <i class="fas fa-hot-tub"></i></a>
              </div>
              <div class="circulo my-2">
                <a data-toggle="popover" data-trigger="hover" data-content="Smart TV con cable"> <i class="fas fa-tv"></i></a>
              </div>
              <div class="circulo my-2">
                <a data-toggle="popover" data-trigger="hover" data-content="Telefono Incluido"> <i class="fas fa-phone-square-alt"></i></a>
              </div>
              <div class="circulo my-2">
                <a data-toggle="popover" data-trigger="hover" data-content="Desayuno buffet"> <i class="fas fa-coffee"></i></a>
              </div>
            </div>
            <div class="col-10 px-0">
              <div id="c-4" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img class="d-block w-100" src="assets/image/hotelIntiWatana/C4.jpg" alt="First slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="assets/image/hotelIntiWatana/C4.jpg" alt="Second slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="assets/image/hotelIntiWatana/C4.jpg" alt="Third slide">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 px-2 border-top">
              <div class="container text-white py-1 px-2 text-left margen-marron">
                <div class="row mx-0 d-flex align-items-center">
                  <div class="col-10 py-1 px-2 text-center">
                    <p class="mb-0 fw-bold font-weight-bold">{{ 'tambo.hab_queen' | translate }}</p>
                    <small> {{ 'tambo.hab_queen_desc' | translate }}<br>
                      <strong class="text-naranja">"{{ 'boutique.descuento_apertura' | translate }}"</strong>
                    </small>
                  </div>
                  <div class="col-2 py-1">
                    <div class="text-center">
                      <a href="#" class=""><i class="fas fa-registered fs-5"></i></a>
                      <!-- <div class="px-3">
                        <small class="text-marron font-weight-bold">Precios:</small>
                        <p class="my-0">s/.15 - s/.20</p>
                      </div> -->
                    </div>
                    <!-- <img src="assets/image/hotelIntiWatana/icon-blanco.png" width="25%" class="img-fluid" alt=""> -->
                  </div>
                </div>
              </div>
              </div>
          </div>
        </div>
        <div class="col-md-6 col-12 px-5 py-3 r-naranja">
          <div class="row my-0 d-flex align-items-center bg-marron">
            <div class="col-2 px-lg-4 px-2 text-center py-auto">
              <div class="circulo my-2">
                <a data-toggle="popover" data-trigger="hover" data-content="Agua Caliente las 24 hrs"> <i class="fas fa-hot-tub"></i></a>
              </div>
              <div class="circulo my-2">
                <a data-toggle="popover" data-trigger="hover" data-content="Smart TV con cable"> <i class="fas fa-tv"></i></a>
              </div>
              <div class="circulo my-2">
                <a data-toggle="popover" data-trigger="hover" data-content="Telefono Incluido"> <i class="fas fa-phone-square-alt"></i></a>
              </div>
              <div class="circulo my-2">
                <a data-toggle="popover" data-trigger="hover" data-content="Desayuno buffet"> <i class="fas fa-coffee"></i></a>
              </div>
            </div>
            <div class="col-10 px-0">
              <div id="c-5" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img class="d-block w-100" src="assets/image/hotelIntiWatana/C5.jpg" alt="First slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="assets/image/hotelIntiWatana/C5.jpg" alt="Second slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="assets/image/hotelIntiWatana/C5.jpg" alt="Third slide">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 px-2 border-top">
              <div class="container text-white py-1 px-2 text-left margen-marron">
                <div class="row mx-0 d-flex align-items-center">
                  <div class="col-10 py-1 px-2 text-center">
                    <p class="mb-0 fw-bold font-weight-bold">{{ 'tambo.hab_king' | translate }}</p>
                    <small class="text-left">{{ 'tambo.hab_king_desc' | translate }} <br>
                      <strong class="text-naranja">"{{ 'boutique.descuento_apertura' | translate }}"</strong>
                    </small>
                  </div>
                  <div class="col-2 py-1">
                    <div class="text-center">
                      <a href="#" class=""><i class="fas fa-registered fs-5"></i></a>
                      <!-- <div class="px-3">
                        <small class="text-marron font-weight-bold">Precios:</small>
                        <p class="my-0">s/.15 - s/.20</p>
                      </div> -->
                    </div>
                    <!-- <img src="assets/image/hotelIntiWatana/icon-blanco.png" width="25%" class="img-fluid" alt=""> -->
                  </div>
                </div>
              </div>
              </div>
          </div>
        </div>
        <div class="col-md-6 col-12 px-5 py-3 r-naranja">
          <div class="row my-0 d-flex align-items-center bg-marron">
            <div class="col-2 px-lg-4 px-2 text-center py-auto">
              <div class="circulo my-2">
                <a data-toggle="popover" data-trigger="hover" data-content="Agua Caliente las 24 hrs"> <i class="fas fa-hot-tub"></i></a>
              </div>
              <div class="circulo my-2">
                <a data-toggle="popover" data-trigger="hover" data-content="Smart TV con cable"> <i class="fas fa-tv"></i></a>
              </div>
              <div class="circulo my-2">
                <a data-toggle="popover" data-trigger="hover" data-content="Telefono Incluido"> <i class="fas fa-phone-square-alt"></i></a>
              </div>
              <div class="circulo my-2">
                <a data-toggle="popover" data-trigger="hover" data-content="Desayuno buffet"> <i class="fas fa-coffee"></i></a>
              </div>
            </div>
            <div class="col-10 px-0">
              <div id="c-6" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img class="d-block w-100" src="assets/image/hotelIntiWatana/C6.jpg" alt="First slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="assets/image/hotelIntiWatana/C6.jpg" alt="Second slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="assets/image/hotelIntiWatana/C6.jpg" alt="Third slide">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 px-2 border-top">
              <div class="container text-white py-1 px-2 text-left margen-marron">
                <div class="row mx-0 d-flex align-items-center">
                  <div class="col-10 py-1 px-2 text-center">
                    <p class="mb-0 fw-bold  font-weight-bold">{{ 'tambo.hab_triple' | translate }}</p>
                    <small class="text-left"> {{ 'tambo.hab_triple_desc' | translate }}<br>
                      <strong class="text-naranja">"{{ 'boutique.descuento_apertura' | translate }}"</strong>
                    </small>
                  </div>
                  <div class="col-2 py-1">
                    <div class="text-center">
                      <a href="#" class=""><i class="fas fa-registered fs-5"></i></a>
                      <!-- <div class="px-3">
                        <small class="text-marron font-weight-bold">Precios:</small>
                        <p class="my-0">s/.15 - s/.20</p>
                      </div> -->
                    </div>
                    <!-- <img src="assets/image/hotelIntiWatana/icon-blanco.png" width="25%" class="img-fluid" alt=""> -->
                  </div>
                </div>
              </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fondo-servicios p-lg-5 p-3">
    <div class="container" style="background-color: rgba(0, 0, 0, 0.604);">
      <div class="row m-t-60 my-5 py-5">
        <div class="col-lg-8 offset-lg-2 col-10 offset-1 text-center mb-3">
          <h3 class="font-weight-bold text-mediun text-center text-naranja">
            {{ 'home.servicios_title' | translate }}</h3>
          <p class="text-white font-weight-bold">{{ 'home.servicios_desc' | translate }}</p>
        </div>
        <div class="w-100 mt-5"></div>
        <div class="col-lg-8 offset-lg-2 col-10 offset-1">
          <div class="row d-flex justify-content-around">
            <div class="col-md-3 col-6 text-center my-lg-1 my-2">
              <i class="fas fa-utensils text-naranja display-4"></i> <br>
              <small class="text-white font-weight-bold">{{ 'home.serv_quechua' | translate }}</small>
              <br>
            </div>
            <div class="col-md-3 col-6 text-center my-lg-1 my-2">
              <i class="fas fa-concierge-bell display-4 text-naranja"></i> <br>
              <small class="text-white font-weight-bold">{{ 'home.serv_recepcion_desc' | translate }}</small>
            </div>
            <div class="col-md-3 col-6 text-center my-lg-1 my-2">
              <i class="fas fa-wifi display-4 text-naranja"></i> <br>
              <small class="text-white font-weight-bold">{{ 'home.serv_wifi_desc' | translate }}</small>
            </div>
            <div class="col-md-3 col-6 text-center my-lg-1 my-2">
              <i class="fas fa-tshirt display-4 text-naranja"></i> <br>
              <small class="text-white font-weight-bold">{{ 'home.serv_labanderia_desc' | translate }}</small>
            </div>
            <div class="col-md-3 col-6 text-center my-lg-1 my-2">
              <i class="fas fa-user-md display-4 text-naranja"></i> <br>
              <small class="text-white font-weight-bold">{{ 'home.serv_medico_desc' | translate }}</small>
            </div>
            <div class="col-md-3 col-6 text-center my-lg-1 my-2">
              <i class="fas fa-phone-square display-4 text-naranja"></i> <br>
              <small class="font-weight-bold text-white">{{ 'home.serv_telefono_desc' | translate }}</small>
            </div>
            <div class="col-md-3 col-6 text-center my-lg-1 my-2">
              <i class="fas fa-luggage-cart display-4 text-naranja"></i> <br>
              <p class="lh-sm"><small class="font-weight-bold text-white">{{ 'home.serv_custodio_desc' | translate }}</small></p>
            </div>
            <div class="col-md-3 col-6 text-center my-lg-1 my-2">
              <i class="fas fa-biohazard display-4 text-naranja"></i> <br>
              <small class="font-weight-bold text-white">{{ 'home.serv_bio_desc' | translate }}</small>
            </div>
            <div class="col-md-3 col-6 text-center my-lg-1 my-2">
              <i class="fas fa-subway display-4 text-naranja"></i><br>
              <p class="lh-sm"><small class="font-weight-bold text-white">{{ 'home.serv_recojo_desc' | translate }}</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="cotainer-fluid">
  <h1 class="fw-light text-center my-5 text-naranja">Hotel IntiWatana</h1>
  <div class="row itemset" >
    <div class="item item1 col-lg-3 col-6 px-0 border">
      <img src="assets/image/hotelIntiWatana/v1.jpg" class="img-fluid" alt="">
    </div>
    <div class="item item2 col-lg-3 col-6 px-0 border">
      <img src="assets/image/hotelIntiWatana/v2.jpg" class="img-fluid" alt="">
    </div>
    <div class="item item3 col-lg-3 col-6 px-0 border">
      <img src="assets/image/hotelIntiWatana/v3.jpg" class="img-fluid" alt="">
    </div>
    <div class="item item4 col-lg-3 col-6 px-0 border">
      <img src="assets/image/hotelIntiWatana/v4.jpg" class="img-fluid" alt="">
    </div>
    <!-- <div class="item item5 col-12 px-0 border">
          <img src="assets/image/hotelIntiWatana/intiwatana.jpg" class="img-fluid" alt="">
        </div> -->
    <!-- <div class="item5">Item 5 (will not be animated)</div> -->
  </div>
  <div class="w-100"></div>
</div>
<article class="container-fluid mt-lg-5 mt-2 fondo-mapa p-lg-5 p-2">
  <div class="row d-flex align-items-center">
    <div class="col-lg-4 col-md-6 col-12 p-lg-0 p-5">
      <div class="card my-lg-5 my-2 fondo-marron">
        <div class="card-body">
          <h1 class="card-title text-center text-naranja">{{ 'home.buscanos' | translate }}</h1>
          <div class="container-fluid border-bottom border-white">
            <div class="row">
              <div class="col-md-6 col-12 px-0 detalles text-center">
                <p class="mb-0 text-naranja">{{ 'home.direccion' | translate }}</p>
                <small class="text-white">Calle Wiñay Wayna <strong>103</strong>
                  Urb. Las Orquideas, Aguas Calientes
                </small>
              </div>
              <div class="col-md-6 col-12 px-0 detalles text-center">
                <p class="mb-0 text-naranja">{{ 'home.contactanos_title' | translate }}:</p>
                <small class="text-white font-weight-bold">944 588 929 <br> 984 185 481</small>
              </div>
              <div class="col-12 mt-3 text-center">
                <p class="mb-0 text-naranja">{{ 'home.form_email' | translate }}:</p>
                <small class="text-white font-weight-light detalles">reservas@intiwatana.pe <br class="my-0">
                  reservasintiwatana@gmail.com</small>
                <h5 class="text-naranja font-weight-bold">Cusco - Peru</h5>
              </div>
            </div>
          </div>
          <p class="text-justify text-white detalles mt-3"> <small>
            {{ 'home.estamos_ubicados_mapi' | translate }}
            </small>
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-md-6 col-12">
      <div class="container">
        <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1633.4852598041448!2d-72.52317503127892!3d-13.155802459171577!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x916d9bdcf5a97eef%3A0x6fd510ce4206ec58!2sINTIWATANA%20EL%20TAMBO%20HOTEL%20*2A*2A*2A!5e0!3m2!1ses!2spe!4v1642519189892!5m2!1ses!2spe"
        width="100%" height="500" style="border: solid #604238 3px;" allow="fullscreen" loading="lazy"></iframe>
      </div>
    </div>
  </div>
</article>
<footer-intiwatana-webpage></footer-intiwatana-webpage>