<header-intiwatana-webpage (dataEvent)='setLanguage($event)'></header-intiwatana-webpage>
<carousel-intiwatana-webpage></carousel-intiwatana-webpage>

<section class="container-fluid px-0">
  <h1 class="text-center text-marron fw-light">CONOCE NUESTRAS HABITACIONES</h1>
  <div class="row my-5">
    <div class="col-md-6 col-12 px-5 py-3 r-naranja">
      <div class="row my-0 d-flex align-items-center bg-marron">
        <div class="col-2 px-lg-4 px-2 text-center py-auto">
          <div class="circulo my-2">
            <a data-toggle="popover" data-trigger="hover" data-content="Agua Caliente las 24 hrs"> <i class="fas fa-hot-tub"></i></a>
          </div>
          <div class="circulo my-2">
            <a data-toggle="popover" data-trigger="hover" data-content="Smart TV con cable"> <i class="fas fa-tv"></i></a>
          </div>
          <div class="circulo my-2">
            <a data-toggle="popover" data-trigger="hover" data-content="Telefono Incluido"> <i class="fas fa-phone-square-alt"></i></a>
          </div>
          <div class="circulo my-2">
            <a data-toggle="popover" data-trigger="hover" data-content="Desayuno buffet"> <i class="fas fa-coffee"></i></a>
          </div>
        </div>
        <div class="col-10 px-0">
          <div id="c-1" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="assets/image/hotelIntiWatana/c1.jpg" alt="First slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="assets/image/hotelIntiWatana/c1.jpg" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="assets/image/hotelIntiWatana/c1.jpg" alt="Third slide">
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 px-2 border-top">
          <div class="container text-white py-1 px-2 text-left margen-marron">
            <div class="row mx-0 d-flex align-items-center">
              <div class="col-10 py-1 px-2 text-center">
                <p class="mb-0 fw-bold font-weight-bold">HABITACION SIMPLE</p>
                <small>Una cama de 1.5 plazas, tv de 43", calefaccion, escritorio, silla, jabon, shampoo, juego de toallas y secadora de cabello.<br>
                  <strong class="text-naranja">"POR APERTURA TIENE UN 30% DE DESCUENTO"</strong>
                </small>              
              </div>
              <div class="col-2 py-1">
                <div class="text-center">
                  <a href="#" class=""><i class="fas fa-registered fs-5"></i></a>
                  <!-- <div class="px-0">
                    <small class="text-naranja font-weight-bold">Precios:</small> <br>
                    <small class="my-0">s/.15 - s/.20</small>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-12 px-5 py-3 r-naranja">
      <div class="row my-0 d-flex align-items-center bg-marron">
        <div class="col-2 px-lg-4 px-2 text-center py-auto">
          <div class="circulo my-2">
            <a data-toggle="popover" data-trigger="hover" data-content="Agua Caliente las 24 hrs"> <i class="fas fa-hot-tub"></i></a>
          </div>
          <div class="circulo my-2">
            <a data-toggle="popover" data-trigger="hover" data-content="Smart TV con cable"> <i class="fas fa-tv"></i></a>
          </div>
          <div class="circulo my-2">
            <a data-toggle="popover" data-trigger="hover" data-content="Telefono Incluido"> <i class="fas fa-phone-square-alt"></i></a>
          </div>
          <div class="circulo my-2">
            <a data-toggle="popover" data-trigger="hover" data-content="Desayuno buffet"> <i class="fas fa-coffee"></i></a>
          </div>
        </div>
        <div class="col-10 px-0">
          <div id="c-2" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="assets/image/hotelIntiWatana/C2.jpg" alt="First slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="assets/image/hotelIntiWatana/C2.jpg" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="assets/image/hotelIntiWatana/C2.jpg" alt="Third slide">
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 px-2 border-top">
          <div class="container text-white py-1 px-2 text-left margen-marron">
            <div class="row mx-0 d-flex align-items-center">
              <div class="col-10 py-1 px-2 text-center">
                <p class="mb-0 fw-bold font-weight-bold">HABITACION DOBLE</p>
                <small>Dos camas de 1.5 plazas, tv de 43", calefaccion, escritorio, silla, jabon, shampoo, juego de toallas y secadora de cabello. <br>
                  <strong class="text-naranja">"POR APERTURA TIENE UN 30% DE DESCUENTO"</strong>
                </small>
              </div>
              <div class="col-2 py-1">
                <div class="text-center">
                  <a href="#" class=""><i class="fas fa-registered fs-5"></i></a>
                  <!-- <div class="px-3">
                    <small class="text-marron font-weight-bold">Precios:</small>
                    <p class="my-0">s/.15 - s/.20</p>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
          </div>
      </div>
    </div>
    <div class="col-md-6 col-12 px-5 py-3 r-naranja">
      <div class="row my-0 d-flex align-items-center bg-marron">
        <div class="col-2 px-lg-4 px-2 text-center py-auto">
          <div class="circulo my-2">
            <a data-toggle="popover" data-trigger="hover" data-content="Agua Caliente las 24 hrs"> <i class="fas fa-hot-tub"></i></a>
          </div>
          <div class="circulo my-2">
            <a data-toggle="popover" data-trigger="hover" data-content="Smart TV con cable"> <i class="fas fa-tv"></i></a>
          </div>
          <div class="circulo my-2">
            <a data-toggle="popover" data-trigger="hover" data-content="Telefono Incluido"> <i class="fas fa-phone-square-alt"></i></a>
          </div>
          <div class="circulo my-2">
            <a data-toggle="popover" data-trigger="hover" data-content="Desayuno buffet"> <i class="fas fa-coffee"></i></a>
          </div>
        </div>
        <div class="col-10 px-0">
          <div id="c-3" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="assets/image/hotelIntiWatana/c3.jpg" alt="First slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="assets/image/hotelIntiWatana/c3.jpg" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="assets/image/hotelIntiWatana/c3.jpg" alt="Third slide">
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 px-2 border-top">
          <div class="container text-white py-1 px-2 text-left margen-marron">
            <div class="row mx-0 d-flex align-items-center">
              <div class="col-10 py-1 px-2 text-center">
                <p class="mb-0 fw-bold font-weight-bold">HABITACION MATRIMONIAL</p>
                <small>Una cama de dos plazas, tv de 43", calefaccion, escritorio, silla, jabon, shampoo, juego de toallas y secadora de cabello <br>
                  <strong class="text-naranja">"POR APERTURA TIENE UN 30% DE DESCUENTO"</strong>
                </small>
              </div>
              <div class="col-2 py-1">
                <div class="text-center">
                  <a href="#" class=""><i class="fas fa-registered fs-5"></i></a>
                  <!-- <div class="px-3">
                    <small class="text-marron font-weight-bold">Precios:</small>
                    <p class="my-0">s/.15 - s/.20</p>
                  </div> -->
                </div>
                <!-- <img src="assets/image/hotelIntiWatana/icon-blanco.png" width="25%" class="img-fluid" alt=""> -->
              </div>
            </div>
          </div>
          </div>
      </div>
    </div>
    <div class="col-md-6 col-12 px-5 py-3 r-naranja">
      <div class="row my-0 d-flex align-items-center bg-marron">
        <div class="col-2 px-lg-4 px-2 text-center py-auto">
          <div class="circulo my-2">
            <a data-toggle="popover" data-trigger="hover" data-content="Agua Caliente las 24 hrs"> <i class="fas fa-hot-tub"></i></a>
          </div>
          <div class="circulo my-2">
            <a data-toggle="popover" data-trigger="hover" data-content="Smart TV con cable"> <i class="fas fa-tv"></i></a>
          </div>
          <div class="circulo my-2">
            <a data-toggle="popover" data-trigger="hover" data-content="Telefono Incluido"> <i class="fas fa-phone-square-alt"></i></a>
          </div>
          <div class="circulo my-2">
            <a data-toggle="popover" data-trigger="hover" data-content="Desayuno buffet"> <i class="fas fa-coffee"></i></a>
          </div>
        </div>
        <div class="col-10 px-0">
          <div id="c-4" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="assets/image/hotelIntiWatana/C4.jpg" alt="First slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="assets/image/hotelIntiWatana/C4.jpg" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="assets/image/hotelIntiWatana/C4.jpg" alt="Third slide">
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 px-2 border-top">
          <div class="container text-white py-1 px-2 text-left margen-marron">
            <div class="row mx-0 d-flex align-items-center">
              <div class="col-10 py-1 px-2 text-center">
                <p class="mb-0 fw-bold font-weight-bold">HABITACION QUEEN</p>
                <small>Una cama de Queen Size, tv de 43", calefaccion, escritorio, silla, jabon, shampoo, juego de toallas y secadora de cabello. <br>
                  <strong class="text-naranja">"POR APERTURA TIENE UN 30% DE DESCUENTO"</strong>
                </small>
              </div>
              <div class="col-2 py-1">
                <div class="text-center">
                  <a href="#" class=""><i class="fas fa-registered fs-5"></i></a>
                  <!-- <div class="px-3">
                    <small class="text-marron font-weight-bold">Precios:</small>
                    <p class="my-0">s/.15 - s/.20</p>
                  </div> -->
                </div>
                <!-- <img src="assets/image/hotelIntiWatana/icon-blanco.png" width="25%" class="img-fluid" alt=""> -->
              </div>
            </div>
          </div>
          </div>
      </div>
    </div>
    <div class="col-md-6 col-12 px-5 py-3 r-naranja">
      <div class="row my-0 d-flex align-items-center bg-marron">
        <div class="col-2 px-lg-4 px-2 text-center py-auto">
          <div class="circulo my-2">
            <a data-toggle="popover" data-trigger="hover" data-content="Agua Caliente las 24 hrs"> <i class="fas fa-hot-tub"></i></a>
          </div>
          <div class="circulo my-2">
            <a data-toggle="popover" data-trigger="hover" data-content="Smart TV con cable"> <i class="fas fa-tv"></i></a>
          </div>
          <div class="circulo my-2">
            <a data-toggle="popover" data-trigger="hover" data-content="Telefono Incluido"> <i class="fas fa-phone-square-alt"></i></a>
          </div>
          <div class="circulo my-2">
            <a data-toggle="popover" data-trigger="hover" data-content="Desayuno buffet"> <i class="fas fa-coffee"></i></a>
          </div>
        </div>
        <div class="col-10 px-0">
          <div id="c-5" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="assets/image/hotelIntiWatana/C5.jpg" alt="First slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="assets/image/hotelIntiWatana/C5.jpg" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="assets/image/hotelIntiWatana/C5.jpg" alt="Third slide">
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 px-2 border-top">
          <div class="container text-white py-1 px-2 text-left margen-marron">
            <div class="row mx-0 d-flex align-items-center">
              <div class="col-10 py-1 px-2 text-center">
                <p class="mb-0 fw-bold font-weight-bold">HABITACION KING</p>
                <small class="text-left">Modernas suite com cama King Size, tina, televisor de 43" smartv, minibar, coffe kit, caja de seguridad, calefaccion, escritorio, silla,
                  sofa, jabon, shampoo, acondiconador, secadora de cabello. <br>
                  <strong class="text-naranja">"POR APERTURA TIENE UN 30% DE DESCUENTO"</strong>
                </small>
              </div>
              <div class="col-2 py-1">
                <div class="text-center">
                  <a href="#" class=""><i class="fas fa-registered fs-5"></i></a>
                  <!-- <div class="px-3">
                    <small class="text-marron font-weight-bold">Precios:</small>
                    <p class="my-0">s/.15 - s/.20</p>
                  </div> -->
                </div>
                <!-- <img src="assets/image/hotelIntiWatana/icon-blanco.png" width="25%" class="img-fluid" alt=""> -->
              </div>
            </div>
          </div>
          </div>
      </div>
    </div>
    <div class="col-md-6 col-12 px-5 py-3 r-naranja">
      <div class="row my-0 d-flex align-items-center bg-marron">
        <div class="col-2 px-lg-4 px-2 text-center py-auto">
          <div class="circulo my-2">
            <a data-toggle="popover" data-trigger="hover" data-content="Agua Caliente las 24 hrs"> <i class="fas fa-hot-tub"></i></a>
          </div>
          <div class="circulo my-2">
            <a data-toggle="popover" data-trigger="hover" data-content="Smart TV con cable"> <i class="fas fa-tv"></i></a>
          </div>
          <div class="circulo my-2">
            <a data-toggle="popover" data-trigger="hover" data-content="Telefono Incluido"> <i class="fas fa-phone-square-alt"></i></a>
          </div>
          <div class="circulo my-2">
            <a data-toggle="popover" data-trigger="hover" data-content="Desayuno buffet"> <i class="fas fa-coffee"></i></a>
          </div>
        </div>
        <div class="col-10 px-0">
          <div id="c-6" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="assets/image/hotelIntiWatana/C6.jpg" alt="First slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="assets/image/hotelIntiWatana/C6.jpg" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="assets/image/hotelIntiWatana/C6.jpg" alt="Third slide">
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 px-2 border-top">
          <div class="container text-white py-1 px-2 text-left margen-marron">
            <div class="row mx-0 d-flex align-items-center">
              <div class="col-10 py-1 px-2 text-center">
                <p class="mb-0 fw-bold  font-weight-bold">HABITACION TRIPLE</p>
                <small class="text-left">1 cama matrimonial mas una sinple, televisor de 43" smartv, calefaccion, escritorio, silla,
                  sofa, jabon, shampoo, acondiconador y secadora de cabello. <br>
                  <strong class="text-naranja">"POR APERTURA TIENE UN 30% DE DESCUENTO"</strong>
                </small>
              </div>
              <div class="col-2 py-1">
                <div class="text-center">
                  <a href="#" class=""><i class="fas fa-registered fs-5"></i></a>
                  <!-- <div class="px-3">
                    <small class="text-marron font-weight-bold">Precios:</small>
                    <p class="my-0">s/.15 - s/.20</p>
                  </div> -->
                </div>
                <!-- <img src="assets/image/hotelIntiWatana/icon-blanco.png" width="25%" class="img-fluid" alt=""> -->
              </div>
            </div>
          </div>
          </div>
      </div>
    </div>
  </div>
</section>

<footer-intiwatana-webpage></footer-intiwatana-webpage>